<%- include("../cabecalho") %>


<div id="curriculo">
	<% for (const itens of model) { %>
		
	<p>
	<%= itens.id %> : <%= itens.nome %> - <%= itens.descricao %> |
		<a 
		
			href="/curriculo/alterar?id=<%= itens.id %>">ALTERAR</a> |
		<a href="/curriculo/remover?id=<%= itens.id %>">REMOVER</a>
	</p>
	<% } %>
</div>

<%- include("../rodape") %>
